:root {
    --BLUE-BOX: #006EDF;
    --SKY-BLUE: #1DAEFF;
    --FIRST-BG-TABLE: #fff;
    --SECOND-BG-TABLE: #EBF0F7;
    --BORDER-TABLE: #E0E6EE;
    --PREVIEW-BLOCK: #A6C9FF;
}

body {
    background-color: rgb(245, 243, 243);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    width: 80vw;
    margin: 0 auto;
    height: calc(100vh - 20px);
}

.table {
    background-color: var(--BLUE-BOX);
    width: 30vw;
    height: 60vh;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(9,1fr);
    outline: 4px solid var(--BORDER-TABLE);
}

.first-bg-table { 
    background-color: var(--FIRST-BG-TABLE);
}

.second-bg-table {
    background-color: var(--SECOND-BG-TABLE);
}

.square {
    outline: 1px solid var(--BORDER-TABLE);
}

.preview-block {
    width: calc(30vw + 8px);
    height: 180px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: repeat(3,1fr); */
    /* outline: 4px solid var(--PREVIEW-BLOCK);
    background-color: var(--PREVIEW-BLOCK); */
    gap: 2px;
}

.preview-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 1px;
}

.select-blue {
    background-color: var(--BLUE-BOX);
    outline: 1px solid var(--BORDER-TABLE);
}

.select-sky-blue {
    background-color: var(--SKY-BLUE);
    outline: 1px solid var(--BORDER-TABLE);
}